name: django_pipeline
on:
  push:
jobs:
  buildandtest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout_code
        uses: actions/checkout@v4
      - name: setup_python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Django system checks
        run: |
          python manage.py check
      - name: execute test
        run: |
          python manage.py test